@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer components {
  :root:where([data-theme='light']) .fi-sidebar .fi-sidebar-item {
    background-color: #08253d;
    color: #ffffff;
  }

  :root:where([data-theme='light']) .fi-sidebar .fi-sidebar-item .fi-sidebar-item-label {
    color: #ffffff;
  }
}
